################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSCRMDataSyncTests/Test1.xml
/MSCRMDataSyncTests/bin/Debug
/MSCRMDataSyncTests/obj
/packages
/.vs
/MSCRMDataSync/bin/Debug
/MSCRMDataSync/obj
*.user
